<div id="<%= dom_id message %>">
  <p>
    <strong>To:</strong>
    <%= message.to %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= message.subject %>
  </p>

  <p>
    <%= message.body %>
  </p>

</div>
