<p style="color: green"><%= notice %></p>

<h1>Messages</h1>

<% @mailboxes.each do |f| %>
  <%= link_to f, "?mailbox=#{f}" %>
<% end %>

<br>

<%= link_to "New message", new_message_path %>

<div id="messages">
  <% @messages.each do |message| %>
    <% msgid = message.attr['ENVELOPE'].message_id %>
    <%= link_to message.attr['ENVELOPE'].subject, message_path(@selected_mailbox, Base64.strict_encode64(msgid)) %>
    <br>
  <% end %>
</div>

