<p style="color: green"><%= notice %></p>

<% if @multipart  %>
  <% @parts.each_with_index do |p, i| %>
    <%= link_to p.content_type, "?part=#{i}" %>
  <% end %>

  <br>
<% end %>

<iframe
  sandbox="
    allow-downloads
    allow-forms
  "
  src="data:text/html;base64,<%= Base64.strict_encode64 @body %>">
</iframe>

<div>
  <%= link_to "Back to messages", messages_path + "?mailbox=#{@selected_mailbox}" %>
</div>
